Repository catenax-ng/tx-digital-product-pass, pull requests merged in 2023-07, with the labels that each got.

#106 feature/cmp 702/add docker images on dockerhub
  .github/workflows/publish-consumer-backend-docker-images.yml
  .github/workflows/publish-consumer-ui-docker-images.yml
  .github/workflows/publish-dpp-backend-docker-image.yml
  .github/workflows/publish-dpp-frontend-docker-image.yml
  charts/digital-product-pass/values.yaml
Labels: enhancement, internal review

#93 Update Footer.vue
  entrypoint.sh
  src/components/general/Footer.vue
  src/services/service.const.js
Labels: documentation, frontend, action needed

#105 feature/cmp-706/add-legal-files-into-jar: updated pom.xml file to cop…
  consumer-backend/productpass/pom.xml
Labels: documentation, enhancement

#114 feature/cmp 703/add-docker-images-notice: added notes for docker images in a root README.md
  README.md
Labels: documentation

#115 feature/cmp-704/add-resource-utilization: add default CPU and memory settings in helm
  charts/digital-product-pass/values.yaml
Labels: helm-chart

#130 Feature/cmp 699/create helm test: prepared helm test workflow to verify that a released helm chart work as expected
  .github/workflows/helm-test.yaml
  charts/digital-product-pass/templates/tests/test-dpp-connection.yaml
  charts/digital-product-pass/values.yaml
Labels: helm-chart

#125 bugfix/fix-pvc-data: update data persistent to data directory
  charts/digital-product-pass/templates/deployment-backend.yaml
Labels: backend, helm-chart

#127 bugfix/fix-pvc-data: update data persistent to data directory
  Dockerfile
  charts/digital-product-pass/templates/deployment-backend.yaml
  charts/digital-product-pass/templates/deployment-frontend.yaml
Labels: backend, helm-chart

#126 feature/cmp-701/add-helm-upgrade-workflow: prepare helm upgrade to achieve pre-release upgradeability
  .github/workflows/helm-upgrade.yaml
Labels: helm-chart

#131 feature/cmp 700/Kubernetes versions testing: Support helm charts on different kubernetes versions
  .github/workflows/helm-test.yaml
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
Labels: helm-chart

#135 Feature/cmp 732/create installmd file: created INSTALL.md file
  AUTHORS.md
  INSTALL.md
  README.md
  charts/digital-product-pass/README.md
  consumer-backend/productpass/readme.md
  deployment/helm/edc-consumer/README.md
  deployment/helm/edc-provider/README.md
  deployment/helm/edc-provider/data-service/README.md
Labels: documentation

#136 Feature/cmp 799/refactor code: modify helm templates and added license header to a test file
  charts/digital-product-pass/templates/deployment-frontend.yaml
  charts/digital-product-pass/templates/secret-frontend.yaml
  charts/digital-product-pass/templates/tests/test-dpp-connection.yaml
  charts/digital-product-pass/values.yaml
Labels: helm-chart

#133 feature/cmp-725/remove-env-charts: added env yaml values files in .he…
  charts/digital-product-pass/.helmignore
  charts/digital-product-pass/Chart.yaml
Labels: backend

#139 feature/cmp-656/search-param: Added search parameter splitting and preparation for dDTR search
  src/services/BackendService.js
Labels: frontend
