Repository catenax-ng/tx-digital-product-pass, pull requests merged in 2023-06, with the labels that each got.

#91 Feature/cmp 459/welcome screen
  src/assets/styles/components/general/footer.scss
  src/assets/styles/components/general/header.scss
  src/assets/styles/components/general/search.scss
  src/assets/styles/components/landing/searchView.scss
  src/components/general/Header.vue
  src/components/general/SearchInput.vue
  src/components/landing/DashboardTable.vue
  src/media/battery-img.jpeg
  src/media/logotypeDPP.svg
  src/services/Authentication.js
  src/views/HomeView.vue
  src/views/SearchView.vue
  src/views/WelcomeView.vue
Labels: frontend

#98 Feature/cmp 668/backend core: Implemented the backend async and conection to edc v0.4.1
  consumer-backend/productpass/pom.xml
  consumer-backend/productpass/readme.md
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/Application.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/config/ProcessConfig.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/exceptions/DataModelException.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/exceptions/ManagerException.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/AppController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ApiController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ContractController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/DataController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/listeners/AppListener.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/ProcessDataModel.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/ProcessManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/AasService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/DataTransferService.java
  consumer-backend/productpass/src/main/java/utils/CatenaXUtil.java
  consumer-backend/productpass/src/main/java/utils/CrypUtil.java
  consumer-backend/productpass/src/main/java/utils/DateTimeUtil.java
  consumer-backend/productpass/src/main/java/utils/FileUtil.java
  consumer-backend/productpass/src/main/java/utils/HttpUtil.java
  consumer-backend/productpass/src/main/java/utils/JsonUtil.java
  consumer-backend/productpass/src/main/java/utils/LogUtil.java
  consumer-backend/productpass/src/main/java/utils/PassportUtil.java
  consumer-backend/productpass/src/main/resources/application.yml
  consumer-backend/productpass/src/main/resources/logback-spring.xml
Labels: backend

#99 Feature/cmp-668/backend-infra-dependencies: Updated charts and documentation
  .github/workflows/veracode-pipeline.yml
  .nginx/nginx.conf
  CHANGELOG.md
  Dockerfile
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/templates/deployment-backend.yaml
  charts/digital-product-pass/templates/secret-backend.yaml
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
  charts/digital-product-pass/values.yaml
  docs/RELEASE_USER.md
  package-lock.json
  package.json
Labels: documentation, backend

#102 Feature/cmp 733/integrate-frontend: Integrated fronted with new backend.
  .nginx/nginx.conf
  charts/digital-product-pass/values.yaml
  src/components/passport/sections/ContractInformation.vue
  src/services/BackendService.js
  src/services/service.const.js
  src/utils/threadUtil.js
  src/views/PassportView.vue
Labels: frontend
