Repository catenax-ng/tx-digital-product-pass, pull requests merged in 2024-02, with the labels that each got.

#217 Feature/cmp-793/update-backend-docs
  README.md
  dpp-backend/digitalproductpass/README.md
  dpp-backend/digitalproductpass/docs/media/img2.png
  dpp-backend/digitalproductpass/docs/tests/UNIT_TESTS.md
  dpp-backend/digitalproductpass/docs/tests/unitTest.md
  dpp-backend/digitalproductpass/readme.md
  dpp-backend/digitalproductpass/src/test/java/managers/ProcessManagerTest.java
Labels: documentation, backend

#227 Feature/cmp 1107/legal notice
  .github/actions/setup-java/action.yaml
  .github/workflows/publish-dpp-backend-docker-image.yml
  .github/workflows/publish-dpp-frontend-docker-image.yml
  README.md
  docs/notice.md
Labels: documentation, quality-gates

#228 Feature/trg 4.02&4.03: updated container base images and adjusted user ids
  Dockerfile
  charts/digital-product-pass/values.yaml
  dpp-backend/charts/digital-product-pass-backend/values.yaml
  dpp-backend/digitalproductpass/Dockerfile
Labels: helm-chart, quality-gates, docker

#203 Feature/cmp 951/policy selection: Enable the policy selection option to the "/agree" api
  .pre-commit-config.yaml
  DEPENDENCIES_BACKEND
  DEPENDENCIES_FRONTEND
  charts/digital-product-pass/templates/deployment-frontend.yaml
  charts/digital-product-pass/values.yaml
  dpp-backend/charts/digital-product-pass-backend/values.yaml
  dpp-backend/digitalproductpass/pom.xml
  dpp-backend/digitalproductpass/readme.md
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/AppController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ApiController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ContractController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/managers/DtrSearchManager.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/managers/ProcessManager.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/BpnDiscovery.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/Discovery.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/Dtr.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/EdcDiscoveryEndpoint.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/edc/AssetSearch.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/http/requests/Search.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/http/requests/TokenRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/manager/Status.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Catalog.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/CatalogRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Constraint.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/DataService.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/DidDocument.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Distribution.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/EdcResponse.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Negotiation.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/NegotiationRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Offer.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Properties.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Set.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Transfer.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/TransferRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/DataPlaneService.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/DataTransferService.java
  dpp-backend/digitalproductpass/src/main/java/utils/EdcUtil.java
  dpp-backend/digitalproductpass/src/main/java/utils/FileUtil.java
  dpp-backend/digitalproductpass/src/main/java/utils/JsonUtil.java
  dpp-backend/digitalproductpass/src/main/resources/application.yml
  dpp-backend/digitalproductpass/src/test/java/managers/DtrSearchManagerTest.java
  dpp-backend/digitalproductpass/src/test/java/managers/ProcessManagerTest.java
  dpp-backend/digitalproductpass/src/test/java/services/AasServiceTest.java
  dpp-backend/digitalproductpass/src/test/java/services/CatenaXServiceTest.java
  dpp-backend/digitalproductpass/src/test/java/services/DataTransferServiceTest.java
  entrypoint.sh
  package-lock.json
  package.json
  src/components/general/ErrorComponent.vue
  src/config/templates/metadata.json
  src/config/templates/passports.json
  src/services/BackendService.js
  src/services/service.const.js
  src/views/PassportView.vue
Labels: backend, frontend

#236 Feature/cmp 1018/update ddtr version: Updated registry version to 0.3.31
  deployment/infrastructure/registry/Chart.yaml
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/AasService.java
Labels: backend, helm-chart
